:root {
    --main-blue: #74C0FC;
    --hover-blue: #0a60a2;
}

body {
    background-color: #171a1b;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    
    overflow: hidden;
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;    
    flex-direction: column;    
}

h1 {
    margin: 0;
}

.info {
    text-align: center;       
    margin-bottom: 10px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fa-brands, .fa-envelope {
    color: var(--main-blue);
}

i:hover {
    transition: color 0.4s ease; 
    color: var(--hover-blue);
}